<head>
  <title>Slow Food Youth Hamburg</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="icon" type="image/png" href="/imgs/favicon.jpg">
  <link href='http://fonts.googleapis.com/css?family=Roboto:300' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  <link rel="stylesheet" href="https://code.getmdl.io/1.1.3/material.teal-deep_orange.min.css" />
  <script defer src="https://code.getmdl.io/1.1.3/material.min.js"></script>
  <link rel="stylesheet" href="css/index.css" type="text/css">
</head>
<body>
  <div class="page-content">
    <div class="container--logo mdl-grid mdl-grid--no-spacing">
      <div class="image image--logo mdl-cell mdl-cell--12-col">
        <h1 class="text-align--center">SLOW FOOD YOUTH HAMBURG</h1>
      </div>
    </div>
    <div class="container--intro mdl-grid ">
      <div class="mdl-layout-spacer"></div>
      <div class="mdl-cell mdl-cell--6-col">
        <h2 class="text-align--center">Moin Moin!</h2>
        <h3>Wer wir sind?</h3>
        <p>Wir sind die <strong>Hamburger Slow Food Youth</strong> Gruppe, gegründet Anfang 2015!</p>
        <p>Wir engagieren uns ganz im Sinne von Slow Food für gute, saubere und faire Lebensmittel, also insbesondere für  Nachhaltigkeit, Saisonalität und Regionalität und gegen Verschwendung.</p>
        <p>In unserer Gruppe triffst Du vom Studenten bis zum Koch, von der Bürofrau bis zur Gärtnerin jede Menge lustiger Leute.  Ganz egal wo Du herkommst, was Du machst, wie alt Du bist, ob zugezogen oder Urhamburger - <strong>bei uns ist jeder Willkommen</strong>!</p>
        <p>Wir sind bunt gemischt und lieben gutes Essen!</p>

        <h3>Was ist denn Slow Food Youth?</h3>
        <p>Das Slow Food Youth Network, die Jugendbewegung von
        Slow Food, ist ein weltweites Netzwerk von jungen
        Leuten, die sich für gute, saubere und faire Lebensmittel
        für alle einsetzen.</p>
        <p>Essen ist für uns Genuss und Politik
        zugleich. Durch Schnippeldiskos, Eat-Ins, Kochaktionen,
        Workshops und andere Projekte verändern wir das
        Lebensmittelsystem und unser eigenes Handeln. Bei uns
        kommen junge Köche, Kommunikatoren,
        Lebensmittelhandwerker, Künstler, Studenten und
        Interessierte zusammen, um gemeinsam eine nachhaltige
        und lebendige Esskultur zu schaffen.</p>
        <p>Mehr Infos über Slow Food Youth gibt es unter <a target="_blank" href="http://www.slowfoodyouth.de">slowfoodyouth.de</a>.</p>
        <p>Slow Food im Allgemeinen erklärt sich unter <a target="_blank" href="http://www.slowfood.de">slowfood.de</a>.</p>
        <p>Das Hamburger Slow Food Convivium findet sich unter <a target="_blank" href="http://www.slowfood-hamburg.de">slowfood-hamburg..de</a>.</p>

        <h3>Was wir machen?</h3>
        <p>Wir versuchen gutes Essen in den Alltag zurück zu holen.</p>
        <p>Dafür <strong>organisieren wir kleinere und größere Events</strong> wie die Schnippeldisko und Workshops. Außerdem <strong>treffen wir uns regelmäßig</strong> alle zwei Wochen in gemütlicher Runde zum Essen, Schnacken und <strong>Weltverbessern</strong>. :)</p>
        <p>Wir planen die ganze Zeit neue Aktionen und freuen uns immer über neue Gesichter bei unseren Treffen oder Aktionen. Wenn auch Du Interesse hast mitzumachen oder nur etwas genaueres zu einer Aktion wissen möchtest, dann schreib uns doch einfach eine Mail:</p>
        <h4 class="text-align--center"><a href="mailto:moin@slowfoodyouthh.de">moin@slowfoodyouthh.de</a></h4>
      </div>
      <div class="mdl-layout-spacer"></div>
    </div>

    <div class="mdl-grid mdl-grid--no-spacing">
      <div class="articles-header mdl-cell mdl-cell--12-col">
        <h2 class="text-align--center">Neuigkeiten</h2>
      </div>
    </div>
    <div class="articles-container mdl-grid">
      <div class="mdl-layout-spacer"></div>
      <div class="mdl-cell mdl-cell--6-col">
        <i class="material-icons">&#xE5C5;</i>
        <div class="vertical-line vertical-line--50px"></div>
        {{ range .Data.Pages }}
          <div class="article">
            <a href="{{.Permalink}}" title="{{.Title}}" target="_self">
              <span class="article__date">{{.Date.Format "January 2"}}</span>
              <div class="article__content">
                <div class="article__content--image" style="background: url('{{.Params.logo}}');"></div>
                <h3 class="article__content--title">{{.Title}}</h3>
              </div>
            </a>
          </div>
          <div class="vertical-line"></div>
        {{ end }}
        <i class="material-icons">&#xE5C7;</i>
      </div>
      <div class="mdl-layout-spacer"></div>
    </div>
    {{partial "footer.html" .}}
  </div>
</body>
